<h1>Welcome</h1>

<ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <li><span><%= link_to "Profile", user_path(current_user) %></span></li>
          <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', sign_in_path %></li>
          <li><%= link_to "Sign Up to get started >>>", new_user_path %></li>
        <% end %>
      </ul>
 
<p><%= link_to "Upcoming events", upcoming_path %></p>